body {
        color: white;
        cursor: url('/img/phaser.png'), auto;
    }
body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    background-image: url('/img/ds9.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 800px;
  cursor: url('/img/phaser.png'), auto;
}

.main-box {
  position: absolute;
  height: 600px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid-black 2px;
}
.sub-box {
  position: relative; 
  height: 198px;
  width: 198px;
  float: left;
  border: solid-black 2px;
}

.mole {
  display: none;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  
}
.no-pad {
  padding: 0px;
  margin: 0px;
}
.box-header {
  margin: 0px auto;
  width: 596px;
}
.buttons {
  height: 80px;
  width: 600px;
  z-index: 10;
}
#timer {
  font-size: 50px;
  color: red;
  position: relative;
  display:none;
}
#scorebox {
  font-size: 50px;
  color: purple;
  position: relative;
  display:none; 
}
